/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

body {
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    background-image: linear-gradient(#134d71, #f7e4bf);
    color: #ffffff;
}

.whole {
    height: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-top: 40px;
}



button {
    padding: 12px 32px;
    margin: 32px auto;
}

.h3grouped {
    width: 40%;
    height: 25%;
}

.selection-box {
    display: flex;
    flex-direction: column;
    border: 4px;
    border-style: dashed;
    border-radius: 5px;
    background-color: white;
}

.radio-box {
    margin: 12px;
    display: flex;
    justify-content: space-around;
    color: black
}

input {
    margin: 6px 8px;
}

label {
    font-style: italic;
}

button {
    color: white;
    background-color: #134d71;
    padding : 6px 44px;
    border-style: none;
    border-radius: 2px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.message-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 30%;
    border: 4px;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.message {
    color: black;
    font-size: 130%;
}

.heart {
    color: red;
}

#bell {
    max-width: 10%;
    max-height: 30%;
    margin: auto;
}

.favView {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hidden {
    display: none;
}